<div class="container" id="tableCv" style="display: block;">
    <br>
    <div class="search-div">
       
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="on" (keyup)="applyFilter($event)">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  
    <table mat-table [dataSource]="dataSource" matSort>
      
      <!-- Date de l’envoi Column -->
      <ng-container matColumnDef="dateEntretien">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.dateEntretien | slice:0:10}} </td>
      </ng-container>
  
      <!-- Partenaire / Client Column -->
      <ng-container matColumnDef="typeEntretien">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Partenaire / Client </th>
        <td mat-cell *matCellDef="let row"> {{row.typeEntretien}} </td>
      </ng-container>
  
      <!-- TJM Column -->
      <ng-container matColumnDef="tjm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TJM </th>
        <td mat-cell *matCellDef="let row"> {{row.tjm}} € </td>
      </ng-container>
  
      <!-- Observation Column -->
      <ng-container matColumnDef="remarque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observation </th>
        <td mat-cell *matCellDef="let row"> {{row.remarque}} </td>
      </ng-container>
  
      <!-- Statut actuel Column -->
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut actuel </th>
        <td mat-cell *matCellDef="let row"><i class="{{getIClass(row.statut)}}"></i> {{row.statut}} </td>
      </ng-container>
  
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        
       
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="updateEntretien(row)" ><mat-icon> list_alt</mat-icon></button>
            <button mat-icon-button color="warn" (click) = "onOpenDeleteModal(row)"><mat-icon>delete_outline</mat-icon></button>
          </td>
       
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons aria-label="Select page of periodic rows">
    </mat-paginator>
  </div>
  <simple-notifications></simple-notifications>
  <div class="container" id="addEntretien" style="display: none; background-color: rgb(255, 255, 255); margin-top: 15PX; width: auto;" >
    <div class="content-panel" style="margin-left: 8%;">
      <form class="form-horizontal" #cvForm="ngForm">
        <fieldset class="fieldset">
          <h3 class="fieldset-title">{{panelTitle}}</h3>
          <input type="hidden" ngModel="{{entretien?.idEntretien}}" name="idEntretien">
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Date <span
                style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="date" class="form-control" ngModel="{{entretien?.dateEntretien | slice:0:10}}" name="dateEntretien"
                placeholder="dateEntretien" required #dateEntretien="ngModel"
                [class.is-invalid]="dateEntretien.invalid && dateEntretien.touched">
              <small class="text-danger" [class.d-none]="dateEntretien.valid || dateEntretien.untouched">date est
                Champs obligatoires</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Type de l’entretien <span
                style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <select class="form-select" size="3" aria-label="size 3 select example"
                [(ngModel)]="entretien.typeEntretien" name="typeEntretien" required #typeEntretien="ngModel"
                [class.is-invalid]="typeEntretien.invalid && typeEntretien.touched">
  
                <option value="Entretien téléphonique">Entretien téléphonique</option>
                <option value="Visioconférence">Visioconférence</option>
                <option value="Test exercice technique">Test exercice technique</option>
              </select>
              <small class="text-danger" [class.d-none]="typeEntretien.valid || typeEntretien.untouched">Veuillez
                sélectionner l'une des options suivantes</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">TJM <span style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="number" class="form-control" ngModel="{{entretien?.tjm}}" name="tjm" placeholder="...€" required
                #tjm="ngModel" [class.is-invalid]="tjm.invalid && tjm.touched">
              <small class="text-danger" [class.d-none]="tjm.valid || tjm.untouched">TJM est
                Champs obligatoires</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <i class="{{iClass}}"></i><label class="col-md-2 col-sm-3 col-xs-12 control-label"> Statut<span style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <select class="form-select" size="3" aria-label="size 3 select example"
                [(ngModel)]="entretien.statut" name="statut" required #statut="ngModel"
                [class.is-invalid]="statut.invalid && statut.touched" (change)="onChange($event.target.value)">
  
                <option value="Qualifié">Qualifié</option>
                <option value="En attente">En attente</option>
                <option value="Disqualifié">Disqualifié</option>
              </select>
              <small class="text-danger" [class.d-none]="statut.valid || statut.untouched">Veuillez
                sélectionner l'une des options suivantes</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Observations / remarques</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <textarea class="form-control" name="remarque" ngModel="{{entretien?.remarque}}"
                placeholder="Observations / Remarque">
                  </textarea>
            </div>
          </div>
        </fieldset>
        <br>
       
        <br>
        <br>
        <div style="flex-direction: column;  align-content: space-between; ">
          
          <button mat-raised-button class="return-btn" style="margin-bottom: 10px;" (click)="display(); cvForm.reset() ">
            <mat-icon>undo</mat-icon>  Retour
          </button>
        </div>
      </form>
    </div >
  </div>