<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{getUserName()}}</h2>
            <h4>{{getFullName()}}</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/page/1">Resources</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Contact</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

</mat-nav-list>