<div class="container" id="tableCv" style="display: block;">
    <br>
    <div class="search-div">
       
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="on" (keyup)="applyFilter($event)">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  
    <table mat-table [dataSource]="dataSource" matSort>
      
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date | slice:0:10}} </td>
      </ng-container>
  
      <!--  Démarrage mission -->
      <ng-container matColumnDef="demarrageMission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Démarrage mission </th>
        <td mat-cell *matCellDef="let row"> {{row.demarrageMission}} </td>
      </ng-container>
  
      <!-- Observation Column -->
      <ng-container matColumnDef="remarque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observation </th>
        <td mat-cell *matCellDef="let row"> {{row.remarque}} </td>
      </ng-container>
  
      <!-- Statut actuel Column -->
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut actuel </th>
        <td mat-cell *matCellDef="let row"><i class="indicator bg-success"></i>Validation </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="updateValidation(row)" ><mat-icon> list_alt</mat-icon></button>
        <button mat-icon-button color="warn" (click) = "onOpenDeleteModal(row)"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons aria-label="Select page of periodic rows">
    </mat-paginator>
  </div>
  <simple-notifications></simple-notifications>
  <div class="container" id="addValidation" style="display: none; background-color: rgb(255, 255, 255); margin-top: 15PX; width: auto;" >
    <div class="content-panel" style="margin-left: 8%;">
      <form class="form-horizontal" #validForm="ngForm">
        <fieldset class="fieldset">
          <h3 class="fieldset-title">{{panelTitle}}</h3>
          <input type="hidden" ngModel="{{validation?.idValidation}}" name="idValidation">
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Date <span
                style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="date" class="form-control" ngModel="{{validation?.date | slice:0:10}}" name="date"
                placeholder="date" required #date="ngModel"
                [class.is-invalid]="date.invalid && date.touched">
              <small class="text-danger" [class.d-none]="date.valid || date.untouched">date est
                Champs obligatoires</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Démarrage mission<span style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="text" class="form-control" ngModel="{{validation?.demarrageMission}}" name="demarrageMission" placeholder="Duré de la mission" required
                #demarrageMission="ngModel" [class.is-invalid]="demarrageMission.invalid && demarrageMission.touched">
              <small class="text-danger" [class.d-none]="demarrageMission.valid || demarrageMission.untouched">Duré de la mission est
                Champs obligatoires</small>
            </div>
          </div>
          
          <br>
          <div class="form-group">
            <i class="{{iClass}}"></i><label class="col-md-2 col-sm-3 col-xs-12 control-label"> Feedback <span style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <select class="form-select" size="3" aria-label="size 3 select example"
                [(ngModel)]="validation.feedback" name="feedback" required #feedback="ngModel"
                [class.is-invalid]="feedback.invalid && feedback.touched" (change)="onChange($event.target.value)">
  
                <option value="Consultant retenu">Consultant retenu</option>
                <option value="Non retenu">Non retenu</option>
                <option value="En attente">En attente</option>
              </select>
              <small class="text-danger" [class.d-none]="feedback.valid || feedback.untouched">Veuillez
                sélectionner l'une des options suivantes</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Observations</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <textarea class="form-control" name="remarque" ngModel="{{validation?.remarque}}"
                placeholder="remarque">
                  </textarea>
            </div>
          </div>
        </fieldset>
        <br>
        
        <br>
        <br>
        <div style="flex-direction: column;  align-content: space-between; ">
           
          <button mat-raised-button class="return-btn" style="margin-bottom: 10px;" (click)="display(); validForm.reset() ">
            <mat-icon>undo</mat-icon>  Retour
          </button>
        </div>
      </form>
    </div >
  </div>