<div class="container" id="tableCv" style="display: block;">
    <br>
    <div class="search-div">
       
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="on" (keyup)="applyFilter($event)">
        <!--if element searchKey is empty then we display the close icon   -->
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  
    <table mat-table [dataSource]="dataSource" matSort>
      
      <!-- Date Column -->
      <ng-container matColumnDef="dateBriefing">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.dateBriefing | slice:0:10}} </td>
      </ng-container>
  
      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>

  
      <!-- Contact Column -->
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coach </th>
        <td mat-cell *matCellDef="let row"> {{getFirstContact(row.contact, row)}} </td>
      </ng-container>
  
      <!-- Remarque Column -->
      <ng-container matColumnDef="remarque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarque </th>
        <td mat-cell *matCellDef="let row"> {{row.remarque}}</td>
      </ng-container>
  
      
      <!-- Statut actuel Column -->
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut actuel </th>
        <td mat-cell *matCellDef="let row"><i class="indicator bg-success"></i> Briefing </td>
      </ng-container>
  
  
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        
       
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="updateBriefing(row)" ><mat-icon> list_alt</mat-icon></button>
            <button mat-icon-button color="warn" (click) = "onOpenDeleteModal(row)"><mat-icon>delete_outline</mat-icon></button>
          </td>
       
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons aria-label="Select page of periodic rows">
    </mat-paginator>
  </div>
  <simple-notifications></simple-notifications>
  <div class="container" id="addBriefing" style="display: none; background-color: rgb(255, 255, 255); margin-top: 15PX; width: auto;" >
    <div class="content-panel" style="margin-left: 8%;">
      <form class="form-horizontal" #cvForm="ngForm">
        <fieldset class="fieldset">
          <h3 class="fieldset-title">{{panelTitle}}</h3>
          <input type="hidden" ngModel="{{briefing?.idBriefing}}" name="idBriefing">
          <input type="hidden" ngModel="{{id}}" name="consultantId">
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Date<span
                style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="date" class="form-control" ngModel="{{briefing?.dateBriefing | slice:0:10}}" name="dateBriefing"
                placeholder="dateBriefing" required #dateBriefing="ngModel"
                [class.is-invalid]="dateBriefing.invalid && dateBriefing.touched">
              <small class="text-danger" [class.d-none]="dateBriefing.valid || dateBriefing.untouched">Date est
                Champs obligatoires</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Type <span
                style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <select class="form-select" size="2" aria-label="size 3 select example"
                [(ngModel)]="briefing.type" name="type" required #type="ngModel"
                [class.is-invalid]="type.invalid && type.touched">
  
                <option value="Lieu">Lieu</option>
                <option value="Par visioconférence">Par visioconférence</option>
              </select>
              <small class="text-danger" [class.d-none]="type.valid || type.untouched">Veuillez
                sélectionner l'une des options suivantes</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Duré</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="text" class="form-control" ngModel="{{briefing?.dure}}" name="dure" placeholder="Duré" 
                #dure="ngModel" >
              
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Remarques</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <textarea class="form-control" name="remarque" ngModel="{{briefing?.remarque}}"
                placeholder="Observations/remarque">
                  </textarea>
            </div>
          </div>
        </fieldset>
        <br>
        <fieldset class="fieldset">
        <h3 class="fieldset-title">Informations de contact</h3>
        <mat-form-field appearance="fill" >
          <mat-label>Contacts</mat-label>
          <mat-select  multiple name="contactName" [(ngModel)]="briefing.contactName">
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}} 
              
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="float: right;">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onOpenContactModal(topping)">
                  <mat-icon>edit</mat-icon>
                  <span>Modifier</span>
                </button>
                <button mat-menu-item (click)="onOpenContactDeleteModal(topping)">
                  <mat-icon>delete_outline</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <a  (click)="onOpenContactModal(undefined)" id="ajoutContact" style="margin-left: 25px;">+Ajouter Contact</a>
        
        </fieldset>
        <br>
        <br>
        <div style="flex-direction: column;  align-content: space-between; ">
           
          <button mat-raised-button class="return-btn" style="margin-bottom: 10px;" (click)="display(); cvForm.reset() ">
            <mat-icon>undo</mat-icon>  Retour
          </button>
        </div>
      </form>
    </div >
  </div>