<body>
    <div class="center">
        <!--alert danger 'Bad credentials'-->
        <div *ngIf="msg!=''" class="alert alert-danger" style="padding: 10px 35px;">
            {{msg}}
        </div>
        <!--login form-->
        <h1>Login</h1>
        <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            
          <div class="txt_field">
            <input type="text"  ngModel name="userName" id="userName" required>
            <span></span>
            <label>Username</label>
          </div>
          <div class="txt_field">
            <input type="password" required ngModel name="userPassword"
            id="userPassword" required>
            <span></span>
            <label>Password</label>
          </div>
          <input type="submit" value="Login">
        </form>
      </div>
    
</body>