  <div class="container" id="addEntretien" style="background-color: rgb(255, 255, 255); margin-top: 15PX; width: auto;" >
    <div class="content-panel" style="margin-left: 8%;">
      <form class="form-horizontal" #cvForm="ngForm">
        <fieldset class="fieldset">
          <h3 class="fieldset-title">{{panelTitle}}</h3>
          <input type="hidden" ngModel="{{entretienClient?.idEntretienClient}}" name="idEntretienClient">
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Date <span
                style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="date" class="form-control" ngModel="{{entretienClient?.dateEntretienClient | slice:0:10}}" name="dateEntretienClient"
                placeholder="Date" required #dateEntretienClient="ngModel"
                [class.is-invalid]="dateEntretienClient.invalid && dateEntretienClient.touched">
              <small class="text-danger" [class.d-none]="dateEntretienClient.valid || dateEntretienClient.untouched">date est
                Champs obligatoires</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Nom du Client <span style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="text" class="form-control" ngModel="{{entretienClient?.nomDuClient}}" name="nomDuClient" placeholder="Nom du Client" required
                #nomDuClient="ngModel" [class.is-invalid]="nomDuClient.invalid && nomDuClient.touched">
              <small class="text-danger" [class.d-none]="nomDuClient.valid || nomDuClient.untouched">Nom du Client est
                Champs obligatoires</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">Type de l’entretien <span
                style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <select class="form-select" size="3" aria-label="size 3 select example"
                [(ngModel)]="entretienClient.typeEntretienClient" name="typeEntretienClient" required #typeEntretienClient="ngModel"
                [class.is-invalid]="typeEntretienClient.invalid && typeEntretienClient.touched">
  
                <option value="Entretien téléphonique">Entretien téléphonique</option>
                <option value="Visioconférence">Visioconférence</option>
                <option value="Test exercice technique">Test exercice technique</option>
              </select>
              <small class="text-danger" [class.d-none]="typeEntretienClient.valid || typeEntretienClient.untouched">Veuillez
                sélectionner l'une des options suivantes</small>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label">TJM <span style="color: red;">*</span></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input type="number" class="form-control" ngModel="{{entretienClient?.tjm}}" name="tjm" placeholder="...€" required
                #tjm="ngModel" [class.is-invalid]="tjm.invalid && tjm.touched">
              <small class="text-danger" [class.d-none]="tjm.valid || tjm.untouched">TJM est
                Champs obligatoires</small>
            </div>
          </div>
          <br>
          
          <div class="form-group">
            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Lieu</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <input class="form-control" name="lieu" ngModel="{{entretienClient?.lieu}}"
                placeholder="Lieu">
                  
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="col-md-2  col-sm-3 col-xs-12 control-label">Observations / remarques</label>
            <div class="col-md-10 col-sm-9 col-xs-12">
              <textarea class="form-control" name="remarque" ngModel="{{entretienClient?.remarque}}"
                placeholder="Observations / Remarque">
                  </textarea>
            </div>
          </div>
        </fieldset>
        <br>
       
        <br>
        <br>
        <div style="flex-direction: column;  align-content: space-between; ">
          <button mat-raised-button color="primary" (click)="onUpdateEntretien(cvForm); " style="margin-bottom: 10px;"
          [disabled]="cvForm.invalid">
            <mat-icon *ngIf = "panelTitle == 'Ajouter'">add</mat-icon>  {{panelTitle}}
          </button>
          <button mat-raised-button class="return-btn" style="float: right; margin-right: 17%; margin-bottom: 10px;" (click) = "nextEtape()" >
            Next étape <mat-icon>play_arrow</mat-icon>
         </button>
        </div>
      </form>
    </div >
  </div>
<simple-notifications></simple-notifications>
